<div class="row">
    <div class="col-xl-11 ml-auto">
        <div class="card">
            <div class="row">
                {% if published.content.image != "" %}
                <div class="col-xl-2 col-lg-12">
                    <div class="card-article-img">
                        <a href="{{ path('content', { url: published.url }) }}">
                            <img src="{{ asset('img/article/') }}{{ published.content.image }}"/>
                        </a>
                    </div>
                </div>
                {% endif %}
                <div class="{% if published.content.image == "" %}col-xl-12{% else %}col-xl-10{% endif %} col-lg-12">
                    <div class="card-body card-body-new">
                        <h5 class="card-title">
                            <span class="btn btn-danger btn-sm">{{ "content_type.1"|trans }}</span>
                            {{ published.content.title }}

                            <div class="float-right">
                                <a href="{{ path('content', { url: published.url }) }}"
                                   class="btn btn-sm btn-primary">
                                    {{ "general.continue_reading"|trans }}</a>
                            </div>
                        </h5>
                        <p class="card-text">{{ published.content.perex }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
