<div class="card card-main">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <h4 class="card-title">
                    <span class="btn btn-primary btn-sm">
                        {{ "content_type.2"|trans }}
                    </span>

                    <a href="{{ path('content', { url: published.url }) }}" class="article-title-hyperlink">
                        {{ published.content.title }}
                    </a>
                </h4>

                <p class="card-text">{{ published.content.content|raw }}

                <div>
                    <a href="{{ path('user_view', { username: published.content.author.username }) }}"
                       class="btn btn-sm btn-secondary">
                        <img src="{{ asset('svg/person.svg') }}" class="white-img"/>
                        {{ published.content.author.username }}
                    </a>

                    {% if published.content.category is not null %}
                        <a href="{{ path('category', { category_name: published.content.category.url }) }}"
                           class="btn btn-sm btn-secondary">
                            <img src="{{ asset('svg/tag.svg') }}" class="white-img"/>
                            {{ published.content.category.name }}</a>
                    {% endif %}

                    <a href="{{ path('content_comments', { url: published.url }) }}"
                       class="btn btn-sm btn-secondary">
                        <img src="{{ asset('svg/comment-discussion.svg') }}" class="white-img"/>
                        {{ "general.comments"|trans }} ({{ published.content.countComments }})</a>
                </div>
            </div>
        </div>
    </div>
</div>