<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <span class="text-default">Otevreny</span><span class="text-success">Kod</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {#<li class="nav-item active">#}
                {#<a class="nav-link" href="{{ path('homepage') }}">Hlavní stránka</a>#}
            {#</li>#}
        </ul>
        {#<form class="form-inline my-2 my-lg-0">#}
            {#<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
            {#<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#</form>#}
    </div>
</nav>

<div class="container-fluid main-container">
    {% for label, messages in app.flashes(['warning', 'error']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if messages is defined %}
        ahoj
        {% for message in messages %}
            ahoj
            <div class="alert alert-{{ message[0] }}">
                {{ message[1] }}
            </div>
        {% endfor %}
    {% endif %}

    {% block body %}{% endblock %}

    <footer>
        <div class="container-fluid">
            <p class="footer">
                Created with <img class="text-danger" src="{{ asset('svg/heart.svg') }}"/>
                and <a href="https://symfony.com/">Symfony</a> framework. By <a href="http://milansuk.cz/">Milan Suk</a>
            </p>
        </div>
    </footer>
</div>

<script href="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
