<!DOCTYPE html>
<html>
<head>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108261739-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-108261739-1');
    </script>
    <meta charset="UTF-8"/>
    <title>{% block title %}OtevrenyKod.cz{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}?v=2"/>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <span class="text-default">Otevreny</span><span class="text-success">Kod</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Hlavní stránka</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted("ROLE_USER") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Přihlášený jako <strong class="text-primary">{{ app.user.username }}</strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('user_view', { username : app.user.username}) }}">
                            Zobrazit profil
                        </a>
                        <a class="dropdown-item" href="{{ path('user_edit') }}">Upravit profil</a>
                        {% if is_granted("ROLE_CONTRIBUTOR") %}
                            <a class="dropdown-item" href="{{ path('admin') }}">Administrace</a>
                        {% endif %}
                    </div>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Přihlásit</a>
                </li>
            {% endif %}

        </ul>
        {#<form class="form-inline my-2 my-lg-0">#}
        {#<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
        {#<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#</form>#}
    </div>
</nav>

<div class="container-fluid main-container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if messages is defined %}
        {% for message in messages %}
            <div class="alert alert-{{ message[0] }}">
                {{ message[1] }}
            </div>
        {% endfor %}
    {% endif %}

    {% block body %}{% endblock %}

    <footer>
        <div class="container-fluid">
            <p class="footer">
                Created with <img class="text-danger" src="{{ asset('svg/heart.svg') }}"/>
                and <a href="https://symfony.com/">Symfony</a> framework. By <a href="http://milansuk.cz/">Milan Suk</a>
            </p>
        </div>
    </footer>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
