{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/magula.min.css">
{% endblock %}

{% block body %}
    <div class="container container-content">
        <h1 class="header-title">{{ content.title }}</h1>

        {% if content.type != 2 %}
            <div class="row">
                <div class="col-xl-2">
                    <div class="card-article-img">
                        <img src="{{ asset('img/article/') }}{{ content.image }}"/>
                    </div>
                </div>
                <div class="col-xl-10">
                    <div class="article-info">
                        {{ published.datetime|date("d. m. Y") }},
                        <a href="{{ path('user_view', { username : content.author.username }) }}">
                            {{ content.author.username }}
                        </a>
                        v kategorii
                        {% if published.content.category is not null %}
                            <a href="{{ path('category', { category_name: published.content.category.url }) }}">
                                {{ published.content.category.name }}
                            </a>
                        {% endif %}
                    </div>

                    {{ content.perex }}
                </div>
            </div>

            <br>
            <hr/>
            <br>
        {% else %}
            <div class="article-info">
                {{ content.created|date("d. m. Y") }},
                <a href="{{ path('user_view', { username : content.author.username }) }}">
                    {{ content.author.username }}
                </a>
                v kategorii
                {% if published.content.category is not null %}
                    <a href="{{ path('category', { category_name: published.content.category.url }) }}">
                        {{ published.content.category.name }}
                    </a>
                {% endif %}
            </div>
        {% endif %}

        {{ content.content|raw }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}