{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/magula.min.css">
{% endblock %}

{% block body %}
    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-xl-8 col-md-12">
                {% for published in published_list %}
                    {% if published.content.type == 0 %}
                        {% include "default/content/article.html.twig" %}
                    {% elseif published.content.type == 1 %}
                        {% include "default/content/new.html.twig" %}
                    {% elseif published.content.type == 2 %}
                        {% include "default/content/snippet.html.twig" %}
                    {% endif %}
                {% endfor %}

                {% if count / content_per_page - 1 > 0 %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% for i in 0..((count / content_per_page - 1)|round) %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path('articles', { page : i }) }}">{{ i + 1 }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        Novinky od vedle
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for published in published_shared %}
                            <li class="list-group-item">
                                <h5>{{ published.content.title }}</h5>
                                {{ published.content.content|raw }}
                                <p class="shared-info">
                                    <a href="{{ path('user_view', { username: published.content.author.username }) }}">
                                        <img src="{{ asset('svg/person.svg') }}"/>
                                        {{ published.content.author.username }}
                                    </a>

                                    {{ published.content.created|date("d. m. Y, H:i:s") }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
