{% extends "layout.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <ul class="nav admin-nav">
                <li class="nav-item">
                    <a class="btn btn-primary text-white" href="{{ path('admin') }}">
                        <img src="{{ asset('svg/home.svg') }}" class="text-white"/>
                        {{ "admin.administration"|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" href="{{ path('admin_content_add') }}">
                        <img src="{{ asset('svg/pencil.svg') }}"/>
                        {{ "admin.add_content"|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger" href="{{ path('admin_category') }}">
                        <img src="{{ asset('svg/pencil.svg') }}"/>
                        {{ "admin.categories"|trans }}
                    </a>
                </li>
            </ul>

            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}