{% extends "admin/base.html.twig" %}

{% block content %}
    <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th>{{ "general.content"|trans }}</th>
                <th>{{ "general.author"|trans }}</th>
                <th>{{ "general.updated"|trans }}</th>
                <th>{{ "general.published"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {# @var content \AppBundle\Entity\Content #}
            {% for content in content_list %}
                <tr>
                    <td><a href="{{ path('admin_content_edit', {id: content.id}) }}">{{ content.title }}</a></td>
                    <td>{{ content.author.username }}</td>
                    <td>{{ content.created|date("d. m. Y") }}</td>
                    <td>
                        {% if content.published == null %}
                            <a href="{{ path('admin_content_publish', {id: content.id}) }}">{{ "admin.publish"|trans }}</a>
                        {% else %}
                            {{ content.published.datetime|date("d. m. Y") }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}