{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/magula.min.css">
{% endblock %}

{% block body %}
    <div class="container container-content">
        <h1>profil uživatele <strong>{{ user.username }}</strong></h1>

        <br/>

        <div class="row">
            <div class="col-md-3">
                <img src="{{ asset('img/user/') }}{{ user.image }}" class="user_view_image"/>
            </div>

            <div class="col-md-9">
                <h3>Příspěvky ({{ published_list|length }})</h3>
                <ul>
                    {% for published in published_list %}
                        <li>
                            <a href="{{ path('content', { url: published.content.published.url }) }}">
                                {{ published.content.title }}
                            </a>
                            <em class="list-group-item-light">({{ published.datetime|date("d. m. Y") }})</em>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
